@tailwind base;
@tailwind components;
@tailwind utilities;

.boxshadow{
    box-shadow: 5px -5px black;
    }


.dfn {
  position: relative;
  z-index: 2;
}
.dfn:hover:after, .dfn:focus:after {
  z-index: 2;
  content:  attr(data-title);
  background: #fff;
  color: black;
  border: solid 4px black;
  padding: 1rem;
  font-size: 1rem;
  position: absolute;
  bottom: 100%;
  left: 0%;
  width: 300px;
  border-radius: 7px;
}



@keyframes bounce {
  0%{
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  100% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }

}